@font-face {
    font-family: 'Unbounded';
    src: url('../fontes/Unbounded-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fontes/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
}

    body{
        background-color: #0E1014;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
    }

    header{
        margin: 65px 0 auto 360px;
    }

    h1{
        font-family: 'Unbounded';
        font-size: 64px;
        margin: 60px auto 24px;
        text-align: center;
    }

    h1 span{
        color: #9747FF;
    }

    p{
        text-align: center;
        max-width: 792px;
        margin: 0 auto;
    }

    a{
        color: #ffffff;
        text-decoration: none;
        display: block;
        text-align: center;
        margin: 40px auto;
        line-height: 66px;
        width: 340px;
        background-color: #9747FF;
        border-radius: 36px;
    }

    a:hover{
        background-color: #8233E8;
    }

    section img{
        width: 792px;
        height: 446px;
        margin: 0 auto;
        display: block;
    }